<div class="separator"></div>
<p class="text-center text-muted">BKY &copy; Copyright 2025</p>
<!-- Global -->
<script data-id="App.Config">
    var App = {};
    var basePath = '',
        commonPath = '/assets/',
        rootPath = '/',
        DEV = false,
        componentsPath = '/assets/components/';
    var primaryColor = '#3695d5',
        dangerColor = '#b55151',
        successColor = '#609450',
        infoColor = '#4a8bc2',
        warningColor = '#ab7a4b',
        inverseColor = '#45484d';
    var themerPrimaryColor = primaryColor;
</script>
<script src="/assets/components/library/bootstrap/js/bootstrap.min.js?v=v1.0.3-rc2&amp;sv=v0.0.1.1"></script>
<script src="/assets/components/common/forms/elements/select2/assets/lib/js/select2.js?v=v1.0.3-rc2&amp;sv=v0.0.1.1"></script>
<script src="/assets/components/common/forms/elements/select2/assets/custom/js/select2.init.js?v=v1.0.3-rc2&amp;sv=v0.0.1.1"></script>
<script src="/assets/components/plugins/nicescroll/jquery.nicescroll.min.js?v=v1.0.3-rc2&amp;sv=v0.0.1.1"></script>
<script src="/assets/components/plugins/breakpoints/breakpoints.js?v=v1.0.3-rc2&amp;sv=v0.0.1.1"></script>
<script src="/assets/components/common/forms/elements/fuelux-checkbox/fuelux-checkbox.init.js?v=v1.0.3-rc2&amp;sv=v0.0.1.1"></script>
<script src="/assets/components/common/forms/elements/bootstrap-switch/assets/lib/js/bootstrap-switch.js"></script>
<script src="/assets/components/common/forms/elements/bootstrap-switch/assets/custom/js/bootstrap-switch.init.js"></script>
<script src="/assets/components/core/js/animations.init.js?v=v1.0.3-rc2"></script>
<script src="/assets/components/core/js/sidebar.main.init.js?v=v1.0.3-rc2"></script>
<script src="/assets/components/core/js/sidebar.discover.init.js?v=v1.0.3-rc2"></script>
<script src="/assets/components/core/js/core.init.js?v=v1.0.3-rc2"></script>